p{
    font-size: 32px;
    margin: 20px;
    font-weight: bold;
}
.con-main > h2{
    margin: 20px;
}

.song-playlist{
    border: 1px solid #000;
    background-color: antiquewhite;
    
 
}
.song-playlist > div > div > div > button:hover{
    color: white;
}


.con-main > a {
    color: white;
    height: 0;
    opacity: 0.2;
    font-size: 28px;
    margin: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



